html {
	overflow-x: hidden !important;
	overflow-y: hidden !important;
	background-color: transparent !important;
}

body {
	background-color: transparent !important;
}

#notifications {
	top: 3%;
	left: 50%;
	color: rgba(255,255,255,0.7);
	max-width: 300px;
	word-break: break-all;
	font-size: 12px;
	position: absolute !important;
	font-family: Arial,Helvetica,sans-serif;
}




#notifications b {
	color: rgba(255,255,255,1);
}

#sucesso {

	float: left;
	padding: 7px 10px 7px 10px;
	border-radius: 0px;
 	margin: 0 0 10px 10px;
	background-color: rgba(44, 148, 75, 0.705);
}

#erro {

	float: left;
	padding: 7px 10px 7px 10px;
	border-radius: 0px;
 	margin: 0 0 10px 10px;
	background-color: rgba(200,50,50,0.8);
}

#aviso {

	float: left;
	padding: 7px 10px 7px 10px;
	border-radius: 0px;
 	margin: 0 0 10px 10px;
	background-color: rgba(236, 205, 30, 0.74);
}

#info {
	float: left;
	padding: 7px 10px 7px 10px;
	border-radius: 0px;
 	margin: 0 0 10px 10px;
	background-color: rgba(0,121,205,0.8);
}


#normal {
	float: left;
	padding: 7px 10px 7px 10px;
	border-radius: 0px;
 	margin: 0 0 10px 10px;
	background-color: rgba(58, 58, 58, 0.562)
}