body,td,th { font-size: 12px; font-family: Arial,Helvetica,sans-serif;; color: #666; cursor: default; vertical-align: baseline; outline: 0; line-height: 1; margin: 0; padding: 0; word-wrap: break-word; }
a,a:link,a:visited,a:active,a:hover { font-family: Arial,Helvetica,sans-serif;; font-size: 12px; color: #666; text-decoration: none; }
div,span,applet,object,iframe,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr { border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; margin:0; padding:0; }
:focus { outline:0; }
img { border:none; }
::-webkit-scrollbar {
	width: 7px;
}
::-webkit-scrollbar-track {
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	background-color: transparent;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
	background-color: rgba(170, 255, 227, 0.541);
}
::selection { background: transparent; }
::-moz-selection { background: transparent; }


.mainpanel{
	top: 50%;
	left: 50%;
	width: 550px;
	height: 600px;
	position: fixed;
	border-top: 2px solid #111;
	border-left: 2px solid #111;
	border-right: 2px solid #111;
	border-bottom: 2px solid #111;
	transform: translate(-50%,-50%);
	border-radius:3px;	
	background: #fff;
	background-image: url(images/background.png);
	background-size: cover;
}

.mainmenu{
	transform: translate(-50%,-50%);
	top: 22%;
	left: 50%;
	position: fixed;
	height: 30px;
    background-color: transparent;
}

.buttom {
	background: rgba(255, 255, 255, 0.246);
	padding: 10px 0;
	width: 30px;
	height: 11px;
	float: right;
	margin-right: 10px;
	text-align: center;
	border-radius: 50%;
    color: rgb(138, 138, 138);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.068);
}

.buttom:hover {
	background: rgba(111, 134, 85, 0.562);
}

.buttomIcon {
	height: 15px;
	margin-right: 2px;
	opacity: 0.8;
	outline: transparent !important;
}

#inicio {
	width: 537px;
	height: 70%;
    margin: 5px;
    margin-top: 154px;
	float: left;
	overflow-y: scroll;
    position: fixed;
}

.title {
	color: #666;
	width: 100%;	
	float: left;
	font-size: 20px;
	font-weight: 700;
	padding: 0 0 10px;
	margin: 0 0 10px;
	border-bottom: 1px dashed #999;
}

.model {
	color: #333;
	width: 100%;
	background: transparent;
	float: left;
	margin-bottom: 3px;
}

.name {
	background: rgb(240, 240, 240);
	padding: 15px 0 15px 15px;
	width: 515px;
	font-weight: 700;
	height: 12px;
	float: left;
	text-align: left;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: rgb(75, 75, 75);
	border-radius: 5px;
}

.name nl{
	color: rgb(138, 138, 138);
	font-size: 8.2px;
	font-weight: 700;
}

#actionbutton {
	background: #b9b6b6;
	padding: 3px 20px 1px;
	height: 15px;
	position: absolute;
	font-weight: 700;
	border-radius: 3px;
	border: transparent;
	top: 97.2%;
	left: 45%;
}

#actionbutton:hover {
	background: #af7d7d;
}

.buttom2 {
	background: rgba(255, 255, 255, 0.246);
	padding: 10px 0;
	margin: -10px 0px;
	width: 30px;
	height: 11px;
	float: right;
	margin-right: 10px;
	text-align: center;
	border-radius: 50%;
    color: rgb(138, 138, 138);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.068);
}

.buttom2:hover {
	background: rgba(111, 134, 85, 0.562);
}

.buttom2Icon {
	height: 15px;
	margin-right: 2px;
	opacity: 0.8;
	outline: transparent !important;
}
/*                                                          MODAL                                               */

.confirm-modal{
    position: fixed;
    background-color: gainsboro;
	margin-top: 20%;
	transform: translate(-50%, -50%);
	left: 50%;
    width: 250px;
    text-align: center;
	font-weight: 700;
    font-size: 9px;
	letter-spacing: 0px;
    color: rgb(75, 75, 75);
    padding: 10px;
    border-radius: 3px;
}

.confirm-modal .btn{
    background: rgba(255, 255, 255, 0.541);
	border: 0px;
	margin-top: 7px;
	border: none;
	padding: 7px;
	border-radius: 5px;
	font-weight: 700;
    font-size: 10px;
	letter-spacing: 0px;
	color: rgb(75, 75, 75);
}

.confirm-modal .btn:hover{
	background: rgba(189, 214, 255, 0.739);
}

.confirm-modal .btn2{
    background: rgba(255, 255, 255, 0.541);
	border: 0px;
	margin-top: 7px;
	border: none;
	padding: 7px;
	border-radius: 5px;
	font-weight: 700;
    font-size: 10px;
	letter-spacing: 0px;
	color: rgb(75, 75, 75);
}

.confirm-modal .btn2:hover{
	background: rgba(247, 214, 214, 0.739);
}

.confirm-modal input{
    margin-top: 10px;
	padding:10px;
	width: 120px;
	height: 10px;
	border: none;
	outline: none;
	background: rgba(255, 255, 255, 0.651);
	border-radius: 3px;
	font-weight: 700;
    font-size: 10px;
	transition: transform .2s;
	text-align: center;
	border-radius: 5px;
	font-family: 'Roboto', sans-serif;
	src: url('roboto.ttf');
	color: rgb(65, 65, 65);
}